<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Principal</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script th:src="@{/js/signup.js}"></script>

</head>
<body>
	<div class="container">
		<div id="alertError"
			class="alert alert-danger alert-dismissible fade show"
			style="display: none;" role="alert">
			<strong>Error!</strong> <span>alert text</span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div id="alertSuccess"
			class="alert alert-success alert-dismissible fade show"
			style="display: none;" role="alert">
			<strong>Success!</strong> <span>alert text</span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="name-input">Nombre</label> <input type="text"
					class="form-control" id="name-input" placeholder="Nombre">
			</div>
			<div class="form-group col-md-6">
				<label for="wcaid-input">WCAID</label> <input type="text"
					class="form-control" id="wcaid-input" placeholder="WCAID">
			</div>
		</div>
		<div class="form-group">
			<label for="email-input">Email</label> <input type="email"
				class="form-control" id="email-input" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="password-input">Password</label> <input type="password"
				class="form-control" id="password-input" placeholder="Password">
		</div>
		<div class="form-group">
			<label for="password-input">Confirmar Password</label> <input type="password"
				class="form-control" id="password2-input" placeholder="Password">
		</div>
		<button id="register-btn" class="btn btn-primary">Registrar</button>
	</div>
	
    
</body>
</html>